<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="salir()">
            <ion-icon name="power"></ion-icon>
        </ion-buttons>
        <ion-title>
            {{usuario.nombre}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let motel of moteles; let i = index" (click)="mostrarDetalle(i)">
        <ion-label>{{motel.nombre}}</ion-label>
        <ion-badge slot="end">{{motel.habitacionesDisponibles}}</ion-badge>
    </ion-item>
</ion-content>