<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<!-- debemos llenar estos ion-list con un ng-for coloco tres item solo para refencia -->

<ion-content padding>
    <ion-list>
        <ion-list-header>
            <h2>Cartagena</h2>
        </ion-list-header>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/img/moteles/motel1.jpg">
            </ion-avatar>
            <ion-item-divider text-center>
                <h1>Nombre Motel 111</h1>
            </ion-item-divider>
            <ion-note item-end>
                <h1>11</h1>
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/img/moteles/motel2.jpg">
            </ion-avatar>
            <ion-item-divider text-center>
                <h1>Nombre Motel 222</h1>
            </ion-item-divider>
            <ion-note item-end>
                <h1> 22 </h1>
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/img/moteles/motel3.jpg">
            </ion-avatar>
            <ion-item-divider text-center>
                <h1>Nombre Motel 333</h1>
            </ion-item-divider>
            <ion-note item-end>
                <h1> 33 </h1>
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>