<ion-header>
    <ion-toolbar color="primary">
        <ion-button color="primary" slot="start" shape="round" (click)="atras()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title>
            <ion-icon name="person"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>

        <ion-item>
            <ion-avatar item-start>
                <img [src]="motelesService.moteles[indexMotel].img">
            </ion-avatar>
            <h2>{{ motelesService.moteles[indexMotel].nombre}}</h2>
        </ion-item>

        <img [src]="motelesService.moteles[indexMotel].img">

        <ion-card-content>
            <p>{{ motelesService.moteles[indexMotel].direccion}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
            </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
            </button>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p>{{ motelesService.moteles[indexMotel].descripcion}}</p>
            </ion-col>
        </ion-row>

    </ion-card>


    <ion-button color="success" expand="block">
        Reservar
        <ion-icon slot="end" name="bed"></ion-icon>
    </ion-button>
    <ion-button color="primary" expand="block">
        Como Llegar
        <ion-icon slot="start" name="car"></ion-icon>
    </ion-button>





</ion-content>