<ion-header>
    <ion-toolbar color="primary">
        <ion-button color="primary" slot="start" shape="round" (click)="atras()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title>
            Habitaciones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <div class="wrapper">

        <div class="box red">
            <h4>101</h4>
        </div>

        <div class="box green">
            <h4>102</h4>
        </div>

        <div class="box yellow">
            <h4>103</h4>
        </div>

        <div class="box red">
            <h4>104</h4>
        </div>

        <div class="box green">
            <h4>105</h4>
        </div>

        <div class="box yellow">
            <h4>106</h4>
        </div>
        <div class="box green">
            <h4>107</h4>
        </div>

        <div class="box yellow">
            <h4>108</h4>
        </div>

        <div class="box red">
            <h4>109</h4>
        </div>

        <div class="box green">
            <h4>110</h4>
        </div>

        <div class="box yellow">
            <h4>111</h4>
        </div>

        <div class="box red">
            <h4>112</h4>
        </div>

        <div class="box green">
            <h4>113</h4>
        </div>

        <div class="box yellow">
            <h4>114</h4>
        </div>
        <div class="box green">
            <h4>115</h4>
        </div>

        <div class="box green">
            <h4>116</h4>
        </div>

        <div class="box green">
            <h4>117</h4>
        </div>

        <div class="box green">
            <h4>118</h4>
        </div>

        <div class="box green">
            <h4>119</h4>
        </div>

        <div class="box green">
            <h4>120</h4>
        </div>

        <div class="box green">
            <h4>121</h4>
        </div>

    </div> -->
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngFor="let habita of habita">
                <!-- <ion-button *ngIf="nom != habita.name" color="success" (click)="habitacion(habita)">{{habita.name}}</ion-button>
                <ion-button *ngIf="nom == habita.name" [color]="color" (click)="habitacion(habita)">{{habita.name}}</ion-button> -->
                <ion-button *ngIf="[habita.state]==1" color="success" (click)="habitacion(habita)">{{habita.name}}</ion-button>
                <ion-button *ngIf="[habita.state]==2" color="warning" (click)="habitacion(habita)">{{habita.name}}</ion-button>
                <ion-button *ngIf="[habita.state]==3" color="danger" (click)="habitacion(habita)">{{habita.name}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-content padding>

    <ion-button expand="full" color="success">
        Total Disponibles: 6
    </ion-button>

    <ion-button expand="block" color="danger">
        Total Ocupadas: 4
    </ion-button>

    <ion-button expand="block" color="warning">
        Total Pendientes: 2
    </ion-button>

    <!-- <ion-item>Total Ocupadas: 4</ion-item>
        <ion-item>Total Pendientes: 2</ion-item>
        <ion-item>
            <ion-icon class="box green" name="square"></ion-icon>
            <ion-label>Disponible</ion-label><br>
        </ion-item>
        <ion-item>
            <ion-icon class="box yellow" name="square"></ion-icon>
            <ion-label>Pendiente</ion-label><br>
        </ion-item>
        <ion-item>
            <ion-icon class="box red" name="square"></ion-icon>
            <ion-label>No Disponible</ion-label>
        </ion-item> -->
</ion-content>