<ion-content padding>

    <div class="wrapper">

        <div class="box red">
            <h4>101</h4>
        </div>

        <div class="box green">
            <h4>102</h4>
        </div>

        <div class="box yellow">
            <h4>103</h4>
        </div>

        <div class="box red">
            <h4>104</h4>
        </div>

        <div class="box green">
            <h4>105</h4>
        </div>

        <div class="box yellow">
            <h4>106</h4>
        </div>
        <div class="box green">
            <h4>107</h4>
        </div>

        <div class="box yellow">
            <h4>108</h4>
        </div>

        <div class="box red">
            <h4>109</h4>
        </div>

        <div class="box green">
            <h4>110</h4>
        </div>

        <div class="box yellow">
            <h4>111</h4>
        </div>

        <div class="box red">
            <h4>112</h4>
        </div>

        <div class="box green">
            <h4>113</h4>
        </div>

        <div class="box yellow">
            <h4>114</h4>
        </div>
        <div class="box green">
            <h4>115</h4>
        </div>

        <div class="box green">
            <h4>116</h4>
        </div>

        <div class="box green">
            <h4>117</h4>
        </div>

        <div class="box green">
            <h4>118</h4>
        </div>

        <div class="box green">
            <h4>119</h4>
        </div>

        <div class="box green">
            <h4>120</h4>
        </div>

        <div class="box green">
            <h4>121</h4>
        </div>

    </div>

</ion-content>

<ion-content padding>
    <ion-list>
        <ion-item>Total Ocupadas: 4</ion-item>
        <ion-item>Total Disponibles: 12</ion-item>

        <ion-item>
            <ion-icon class="box green" name="square"></ion-icon>
            <ion-label>Disponible</ion-label><br>
        </ion-item>
        <ion-item>
            <ion-icon class="box yellow" name="square"></ion-icon>
            <ion-label>Pendiente</ion-label><br>
        </ion-item>
        <ion-item>
            <ion-icon class="box red" name="square"></ion-icon>
            <ion-label>No Disponible</ion-label>
        </ion-item>

    </ion-list>

</ion-content>